{% extends 'base.html' %}

{% load static %}
{% block contenedor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
</script>

<div class="h-100 d-flex align-items-center justify-content-center">
<div class="card text-bg-dark text-center w-50 mb-3" style="width: 18rem;">
  <div class="card-header">
          <h1>Login</h1>
  </div>
  <ul class="list-group list-group-flush">
    <form action="" method="POST">{% csrf_token %}
      <input id="txtUsername" name="txtUsername" class="form-control" type="text" placeholder="Username" aria-label="Username">
      <br>
      <input id="txtPassword" name="txtPassword" class="form-control" type="password" placeholder="Password" aria-label="Password">
      <br>
      <input id="btnLogin" name="btnLogin" type="submit" class="btn btn-success" value="Login">
    </form>
  </ul>
</div>
</div>
{% endblock %}
